<a href="https://colab.research.google.com/github/Vnimmadala7/ICP2-700759383/blob/main/ICP2_700759383_Venkat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 5

# Simple Triangle Pattern
for i in range(1, n + 1):
    print("* " * i)

# reverse Triangle Pattern
for i in range(n - 1, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Loop through the list and print elements at odd indexes
for i in range(1, len(my_list), 2):
    print(my_list[i])

20
40
60
80
100

In [ ]:
x = [23, 'Python', 23.98]
types_list = []

for item in x:
    types_list.append(type(item))

print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
def unique_list(lst):
    # Convert list to set to remove duplicates, then convert back to list
    return list(set(lst))

# Sample list
sample_list = [1, 2, 3, 3, 3, 3, 4, 5]

# Call the function and print the result
print("Sample List:", sample_list)
print("Unique List:", unique_list(sample_list))

Sample List: [1, 2, 3, 3, 3, 3, 4, 5]
Unique List: [1, 2, 3, 4, 5]

In [ ]:
def count_upper_lower(string):
    # Initialize counters
    upper_count = 0
    lower_count = 0

    # Iterate through each character in the string
    for char in string:
        # Check if the character is uppercase
        if char.isupper():
            upper_count += 1
        # Check if the character is lowercase
        elif char.islower():
            lower_count += 1

    # Return the counts
    return upper_count, lower_count

# Input string
input_string = 'The quick Brow Fox'

# Call the function
upper_count, lower_count = count_upper_lower(input_string)

# Print the results
print("No. of Upper-case characters:", upper_count)
print("No. of Lower-case Characters:", lower_count)

No. of Upper-case characters: 3
No. of Lower-case Characters: 12